.alert {
    position: fixed;
    width: 100vw;
    text-align: center;
    bottom: 50px;
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    opacity: 0.7;
}

.border {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 3px solid black;
    border-radius: 10px;
    opacity: 0.7;
}

.outersvg,
.linksvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    
}

.circle {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: stroke 3s ease-out forwards;
}

.main_textbox {
    position: absolute;
    transform: translate(-50%,-50%);
}

.work, .resume, .contact {
    display: none;
    transition: opacity 0.15s ease-in;
    opacity: 0;
    height: 0;
    overflow: hidden;
    background-color: #f5f5f5;
}

.work.active, .resume.active, .contact.active {
    display: block;
    opacity: 1;
    height: auto;
}

.main_textbox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: 50%;
    left: 50%; 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.main_textbox h1 {
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.main_textbox #text_switch {
    color: #FFB612;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}