#matrix_effect {
    position: absolute;
    border-radius: 9px;
    z-index: -1;
}

#card_title {
    align-self: flex-start;
    width: fit-content;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: white;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.expand_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    aspect-ratio: 300 / 100;
}

#card_1, #card_2, #card_3, #card_4, #card_5 {
    width: calc(100% / 10);
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: white;
}

#card_1 {
    width: calc(100% / 1.8);
}

#card_2 *, #card_3 *, #card_4 *, #card_5 * {
    visibility: hidden;
}

#type {
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 7.5px 15px;
    border-radius: 5px;
}

#date {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    opacity: 0.7;
}

#image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 2px solid black;
}

#desc {
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

#sm {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7.5px 15px;
    font-weight: 500;
    padding: 3px 0;
    border-bottom: 1px solid black;
}